
#sortby:hover, option:hover {
    cursor: pointer;
}

.paginationButtons button {
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}

.disabled-btn {
  color: rgb(94, 92, 92);
  background-color: #4fbdb94d;
}

.enabled-btn {
  color: #313030;
  background-color: #4FBDBA;
}

.movie-poster-frame {
  margin-right: 1rem;
  max-width: 100px;
  aspect-ratio: 2/3;

  border-radius: 0.75rem;
}
.movie-poster {
  width: 100%;
  height: 100%;
}

.movie-key {
  color: rgb(135, 192, 219);
  font-weight: bold;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 650px) {

  .result-movie-info h2 {
    font-size: 1.3em;
  }
  
  .result-movie-info h3 {
    width: 100%;
    font-size: 1.1em;
  }
}


/* Large devices (laptops/desktops, 991px and up) */
@media only screen and (min-width: 968px) {    
  .result-movie-info h3 {
    font-size: 1.1em;
  }
}

/* Large devices (laptops/desktops, 991px and up) */
@media only screen and (min-width: 1320px) {
}

/* Extra Extra large devices (large laptops and desktops, 1578px and up) */
@media only screen and (min-width: 1613px) {

}