.page-content {
    margin: 0% 15%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.table-img {
    display: grid;
    grid-template-columns: 80% 20%;
    /* column-gap: 1%; */
}

.table {
    margin: 0 0 ;
    height: 100%;
    align-self: center;
}

.table thead th {
    color: #8DBA5E;
}

.table thead {
    background-color: #858585;
}

.link {
    text-decoration: none;
}

.image {
    width: 100%;
    align-self: center;
    justify-self: center;
}

.movieTitle {
    text-align: left;
}

.movieRating {
    text-align: right;
}