
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 650px) {
    .movies-grid {
        width: 510px;
    }
}


/* Large devices (laptops/desktops, 991px and up) */
@media only screen and (min-width: 968px) {

    .movies-grid {
        width: 770px;
    }
}

/* Large devices (laptops/desktops, 991px and up) */
@media only screen and (min-width: 1320px) {

    .movies-grid {
        width: 1050px;
    }
}

/* Extra Extra large devices (large laptops and desktops, 1578px and up) */
@media only screen and (min-width: 1613px) {

    .movies-grid {
        width: 1300px;
    }
}