.page-content {
    margin: 5% 20%;
}

.table {
    border-radius: 10px;
}

.table thead th {
    color: #8DBA5E;
}

.table thead {
    background-color: #858585;
}

.link {
    text-decoration: none;
}

.addToCart {
    width: fit-content;
    height: fit-content;
    border: 0;
    border-radius: 5px;
    background-color: #8DBA5E;
    
}

.addToCart:hover {
    width: calc(100% + 20%);
    height: calc(100% + 20%);
}