
.link {
    text-decoration: none;
    color: #56b3b4;
}

.link:hover {

    text-decoration: underline;
}

.single-movie-poster-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 250px;
    background-color: rgb(27, 39, 94);
    border-radius: 10px;
    border: 10px 0;
}


#movie-price-container-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#movie-price-container-large {
    display: none;
}

.moviePrice {
    font-weight: bold;
    font-size: 1.25rem;

    margin: 0;
}

.detail-title {
    font-weight: bold;
    color: rgb(135, 192, 219);  
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 650px) {
    .moviePrice {
        font-size: 1.5rem;
    }
}


/* Large devices (laptops/desktops, 991px and up) */
@media only screen and (min-width: 968px) {
    .single-movie-content {
        flex-direction: row;
        gap: 50px;
    }

    .poster-title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #movie-price-container-small {
        display: none;
    }

    #movie-price-container-large {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* Large devices (laptops/desktops, 991px and up) */
@media only screen and (min-width: 1320px) {

}

/* Extra Extra large devices (large laptops and desktops, 1578px and up) */
@media only screen and (min-width: 1613px) {

}