.nav-section {
    height: 100%;
}
.navbar {
    background-color: #6d6c6c;
    padding: 0 1%;
}

.navbar-brand {
    color: #71dfcf;
    font-weight: bold;
}

.navbar-brand:hover {
    color: inherit;

}

.nav-link {
    color: #71dfcf;
    
}

.nav-link:hover {
    color: #b8efe7;
}

.nav-link.selected {
    background-color: #007bff; 
}

.search-component {
    margin: 0 0.5rem;
}

.search-input {
    border: 0;
    padding: 0 3px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    border: 0;
    background-color: #71dfcf;
}

.loggingButtons {
    margin: 0 0.5rem;
}

.cartButton {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    outline: none;
    border: 0;
    text-align: center;
    border-radius: 10px;
    background-color: #71dfcf;
}

.cartButton:focus {
    outline: none;
}

.cartButton:hover {
    transform: scale(1.05);
}

.cartButton:active {
    transform: scale(0.95);
}