
.page-content {
    margin: 5% 20%;
}

.cart-items {
    margin-bottom: 5px;
}

.cart-bottom {
    display: flex;
    justify-content: end;
}

.cart-checkout {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
}

.cart-total {
    background: white;
    width: 100%; 
    padding: 5%;
    margin: 0;
    border-radius: 10px;
}

.checkout-button {
    width: 50%;
    font-weight: bold;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

.checkout-button:hover {
    transform: scale(1.02);
}

.checkout-button:active {
    transform: scale(0.98);
}