.alphaBox {
    width: 50%;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    text-align: center;
    grid-template-columns: repeat(13, 1fr);

    font-weight: bold;
}

.link-style {
    text-decoration: none;
}