.nav-section {
    height: 100%;
}
.navbar {
    background-color: #1A1A2E;
    padding: 0 1%;
}

.navbar-toggler {
    background-color: #4fbdb9a8;
    outline: none;
    border: none;
    margin: 5px;
}

.navbar-toggler:active, .navbar-toggler:focus {
    border: none;
    outline: none;
}

.navbar-brand {
    color: #71dfcf;
    font-weight: bold;
}

.navbar-brand:hover {
    color: inherit;
}

.nav-link {
    color: #4FBDBA;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

.nav-link:hover {
    color: #b8efe7;
}

.active {
    color: aliceblue;
    background-color: #aefeffa6;
}

.search-component {
    margin: 0 0.5rem;
}

.search-input {
    border: 0;
    padding: 0 3px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    border: 0;
    background-color: #71dfcf;
}

.loggingButtons {
    margin: 0 0.5rem;
}

.cartButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2.3rem;
    height: 2rem;
    color: #4FBDBA;
}

.cartButton:focus {
    outline: none;
}

.cartButton:hover {
    transform: scale(1.03);
}

.cartButton:active {
    transform: scale(0.97);
}

.cartButton span {
    position: absolute;
    bottom: 0;
    right: 0;
}