.nav-section {
    height: 100%;
}
.navbar {
    background-color: #1A1A2E;
    padding: 0 1%;
}

.navbar-toggler {
    background-color: #4fbdb9a8;
    outline: none;
    border: none;
    margin: 5px;
}

.navbar-toggler:active, .navbar-toggler:focus {
    border: none;
    outline: none;
}

.navbar-brand {
    color: #71dfcf;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: inherit;
}

.nav-link {
    color: #4FBDBA;
    font-weight: bold;
    border-radius: 0.25rem;
    padding: 5px;
    margin: 5px;
}

.active {
    color: black;
    background-color: #aefeffa6;
}

.nav-sub {
    display: flex;
    flex-direction: column;

    justify-content: end;
    align-items: end; 
}

.search-component {
    margin: 0 0.5rem;
}

.search-input {
    border: 0;
    padding: 0 3px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    border: 0;
    background-color: #71dfcf;
}

.loggingButtons {
    margin: 0 0.5rem;
}

.cartButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2rem;
}

.cartButton:focus {
    outline: none;
    color: black;
}

.cartButton:hover {
    transform: scale(1.03);
}

.cartButton:active {
    transform: scale(0.97);
    color: black;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-thingy {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}


@media (min-width: 992px) {
    .nav-sub {
        flex-direction: row;
        justify-content: end;
        align-items: center; 
    }
}